<nav class="navbar navbar-default top-navbar" role="navigation" style="opacity: 1;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>ACM@WUT</strong></a>
    </div>
</nav>
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <!--<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>-->
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a id="index" href="{:url('index/Panel/index')}"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a id="user" href="{:url('index/Panel/user')}"><i class="fa fa-desktop"></i> User</a>
            </li>
            <li>
                <a id="notice" href="{:url('index/Panel/notice')}"><i class="fa fa-edit"></i> Notice</a>
            </li>
            <li>
                <a id="article" href="{:url('index/Panel/article')}"><i class="fa fa-fw fa-file"></i> Article</a>
            </li>
            <li>
                <a id="problem" href="{:url('index/Panel/problem')}"><i class="fa fa-file-code-o" aria-hidden="true"></i> Problem</a>
            </li>
            <li>
                <a id="contest" href="{:url('index/Panel/contest')}"><i class="fa fa-bar-chart-o"></i> Contest</a>
            </li>
            <li>
                <a id="recruit" href="{:url('index/Panel/recruit')}"><i class="fa fa-sitemap"></i> Recruit</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->
<script>
    window.onload = function(){
        $('#{$type}').addClass('active-menu');
    }
</script>