<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <a class="navbar-brand" href="#" style="color:#000;"><i class="fa fa-magic fa-fw"></i>自强后台</a> </div>
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> {$realname} <i class="fa fa-caret-down"></i> </a>
    <ul class="dropdown-menu dropdown-user">
      <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> 登录记录</a> </li>-->
      <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> 修改密码</a> </li>-->
      <!--<li class="divider"></li>-->
      <li><a href="__PANEL__/login/logout"><i class="fa fa-sign-out fa-fw"></i> 注销 </a> </li>
    </ul>
  </li>
</ul>
