<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__CSS__/bootstrap.css" rel="stylesheet" />
    <title>首页</title>
</head>
<body>
<div class="view">
    <ul class="nav nav-tabs" contenteditable="true">
        <li class="active">
            <a href="/index/question/inedx">首页</a>
        </li>
        <li>
            <a href="/index/question/question">问答</a>
        </li>
        <li class="dropdown pull-right">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                {$id} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <c:if {$id} =="NULL">
                    <li>
                        <a href="/index/question/login">登录</a>
                    </li>
                </c:if>
                <c:if {$id} !="NULL">
                <li>
                    <a href="/index/questiom/logout">注销</a>
                </li>
                </c:if>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>