<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__CSS__/bootstrap.css" rel="stylesheet" />
    <title>登录</title>
</head>
<body>
<div class="login-body">
    <form action="{:url('login/index')}">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="用户名" name="username" id="username" type="text" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="密码" name="password" id="password" type="password">
            </div>
            <button class="btn btn-lg btn-success btn-block" type="button">登录</button>
        </fieldset>
    </form>
</div>
</body>
</html>