<!DOCTYPE html>
<html lang="en">
<head>
    <title>控制台 - 用户管理 - 添加人物</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'}
        {include file='layout/sidebar'}
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">添加自强人</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 添加自强人</div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>用户名</label>
                                        <input class="form-control" name="username" id="username" value="">
                                        <p class="help-block">输入用来登录的用户名</p>
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input class="form-control" name="password" id="password" value="">
                                        <p class="help-block">输入密码用以登录</p>
                                    </div>
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input class="form-control" name="realname" id="realname" value="">
                                        <p class="help-block">请输入真实姓名。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>性别</label>
                                        <select class="form-control" name="sex" id="sex">
                                            <option value="1">小哥哥</option>
                                            <option value="0">小姐姐</option>
                                        </select>
                                        <p class="help-block">不会是不详吧...</p>
                                    </div>
                                    <div class="form-group">
                                        <label>届数</label>
                                        <select class="form-control" name="session" id="session">
                                            <option value="18">18</option>
                                            <option value="17">17</option>
                                            <option value="16">16</option>
                                            <option value="15">15</option>
                                            <option value="14">14</option>
                                            <option value="13">13</option>
                                            <option value="12">12</option>
                                        </select>
                                        <p class="help-block">诶，就很舒服</p>
                                    </div>
                                    <div class="form-group">
                                        <label>部门</label>
                                        <select class="form-control" name="department" id="department" onchange="changeTest(this)">
                                            <option value = "">请选择</option>
                                            <option value="社长">社长</option>
                                            <option value="副社">副社</option>
                                            <option value="服务队">服务队</option>
                                            <option value="外联部">外联部</option>
                                            <option value="宣传部">宣传部</option>
                                            <option value="秘书部">办公室</option>
                                            <option value="策划部">策划部</option>
                                        </select>
                                        <p class="help-block">所属部门</p>
                                    </div>
                                    <div class="form-group">
                                        <label>职位</label>
                                        <select class="form-control" name="position" id="position">
                                            <option value = "">请选择</option>
                                        </select>
                                        <p class="help-block">所属部门</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__JS__/jquery-1.11.0.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    function changeTest(obj){
        var selectVal = obj.value;
        if(selectVal == "社长" || selectVal=="副社"){
            var objSelectet = document.getElementById("position");
            for(i=objSelectet.options.length-1 ; i>= 0 ; i--){
                objSelectet.options[i] = null;
                objSelectet.innerHTML = "<option value = ''>请选择</option>";
            }
            //Array事项动态下拉框
            var texts = new Array("大人");
            var values = new Array("大人");
            for(var i = 0 ; i < texts.length ; i++){
                var objOption = document.createElement("OPTION");
                objOption.text= texts[i];
                objOption.value=values[i];
                objSelectet.options.add(objOption);
            }
        }else if(selectVal == "服务队"){
            var objSelectet = document.getElementById("position");
            for(i=objSelectet.options.length-1 ; i>= 0 ; i--){
                objSelectet.options[i] = null;
                objSelectet.innerHTML = "<option value = ''>请选择</option>";
            }
            //Array事项动态下拉框
            var texts = new Array("队长","副队长","成员");
            var values = new Array("队长","副队长","成员");
            for(var i = 0 ; i < texts.length ; i++){
                var objOption = document.createElement("OPTION");
                objOption.text= texts[i];
                objOption.value=values[i];
                objSelectet.options.add(objOption);
            }
        }else{
            var objSelectet = document.getElementById("position");
            for(i=objSelectet.options.length-1 ; i>= 0 ; i--){
                objSelectet.options[i] = null;
                objSelectet.innerHTML = "<option value = ''>请选择</option>";
            }
            //Array事项动态下拉框
            var texts = new Array("部长","副部长","成员");
            var values = new Array("部长","副部长","成员");
            for(var i = 0 ; i < texts.length ; i++){
                var objOption = document.createElement("OPTION");
                objOption.text= texts[i];
                objOption.value=values[i];
                objSelectet.options.add(objOption);
            }
        }
    }

    $("button").click(function () {
        $.ajax({
            url: "__API__/user/create_user",
            type: "post",
            dataType: "json",
            data: {
                username:   $("#username").val(),
                password:   $("#password").val(),
                realname  : $("#realname").val(),
                sex:        $("#sex option:selected").val(),
                session:    $("#session option:selected").val(),
                department: $("#department option:selected").val(),
                position:   $("#position option:selected").val()
            },
            success: function (data) {
                if (data.status == 0) {
                    window.location.href = "__PANEL__/user/ziqiang";
                    alert(data.message);
                }
                else if (data.status == -1) {
                    alert(data.message);
                }
            }
        });
    });
</script>
</body>
</html>