<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>控制台 - 服务端</title>
<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
<link href="__CSS__/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
<link href="__CSS__/sb-admin-2.css" rel="stylesheet">
<link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<head></head>
<title>主页</title>
<body>
<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'}
        {include file='layout/sidebar'}
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">自强社服务端</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">  </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>自强人物</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer"> <span class="pull-left">详情 &raquo;</span> <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a> </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">  </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>博客内容</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer"> <span class="pull-left">详情 &raquo;</span> <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a> </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">  </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>报名信息</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer"> <span class="pull-left">详情 &raquo;</span> <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a> </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"> </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>浏览量</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer"> <span class="pull-left">详情 &raquo;</span> <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a> </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery-1.11.0.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
</body>
</html>