<!DOCTYPE html>
<html lang="en">

<head>
    <title>控制台 - 用户 - 编辑用户</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/jquery-1.11.0.js"></script>
    <!-- 样式文件 -->
    <link rel="stylesheet" href="__UM__/themes/default/css/umeditor.css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'} {include file='layout/sidebar'}
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">编辑用户</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 基本设置 </div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <!--http://ziqiangshe.applinzi.com/tp5/public/index.php/panel/blog/editblog-->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="problem_id" id="problem_id" value="{$id}" type="hidden">
                                    </div>
                                    <div class="form-group">
                                        <label>用户昵称</label>
                                        <input name="nick" id="nick" value="" class="form-control">
                                        <p class="help-block">请输入用户的昵称。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>真实姓名</label>
                                        <input name="realname" id="realname" value="" class="form-control">
                                        <p class="help-block">请输入用户的真实姓名。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>学校</label>
                                        <input name="school" id="school" value="" class="form-control">
                                        <p class="help-block">请输入用户的学校。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>专业</label>
                                        <input name="major" id="major" value="" class="form-control">
                                        <p class="help-block">请输入题目的输入格式。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>班级</label>
                                        <input name="class" id="class" value="" class="form-control">
                                        <p class="help-block">请输入题目的输出格式。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>身份</label>
                                        <select class="form-control" name="identity" id="identity">
                                            <option value="-1">删除</option>
                                            <option value="0">正常用户</option>
                                            <option value="1">学生</option>
                                            <option value="2">教师</option>
                                            <option value="3">管理员</option>
                                        </select>
                                        <p class="help-block">请输入题目的提示。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>联系方式</label>
                                        <input name="contact" id="contact" value="" class="form-control">
                                        <p class="help-block">请输入用户的联系方式。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>个人描述</label>
                                        <input name="desc" id="desc" value="" class="form-control">
                                        <p class="help-block">请输入用户的个人描述。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>邮箱地址</label>
                                        <input name="mail" id="mail" value="" class="form-control">
                                        <p class="help-block">请输入用户的邮箱。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>用户状态</label>
                                        <select class="form-control" name="status" id="status">
                                            <option value="-1">删除</option>
                                            <option value="0">正常</option>
                                        </select>
                                        <p class="help-block">请输入用户的状态。</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default" onclick="btn()">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "__PANEL__/problem/getTheProblem",
            type: "post",
            dataType: "json",
            data: {
                user_id:      "{$id}",
            },
            success: function (data) {
                if (data.status == 0) {
                    $("#source").val(data.data.source);
                    $("#title").val(data.data.title);
                } else if (data.status == -1) {

                }
            },
        });
    });
    function btn()
    {
        $.ajax({
            url: "__PANEL__/problem/editProblem",
            type: "post",
            dataType: "json",
            data: {
                problem_id:      $("#problem_id").val(),
                title:   $("#title").val(),
                background:     background.getMarkdown(),
                describe: describe.getMarkdown(),
                input_format: input_format.getMarkdown(),
                output_format: output_format.getMarkdown(),
                hint: hint.getMarkdown(),
                source:   $("#source").val(),
            },
            success: function (data) {
                if (data.status == 0) {
                    alert(data.message);
                    window.location.href = "__PANEL__/problem/index";
                } else if (data.status == -1) {
                    alert(data.message);
                }
            },
        });
    }
</script>
</body>
</html>