<!DOCTYPE html>
<html lang="en">
<head>
    <title>控制台 - 用户管理 - 添加人物</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'}
        {include file='layout/sidebar'}
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">添加标签</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 添加标签</div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>标签名称</label>
                                        <input class="form-control" name="type" id="type" value="">
                                        <p class="help-block">博客标签的名称</p>
                                    </div>
                                    <div class="form-group">
                                        <label>是否展示</label>
                                        <select class="form-control" name="is_show" id="is_show">
                                            <option value="0">展示</option>
                                            <option value="1">隐藏</option>
                                        </select>
                                        <p class="help-block">选择栏目是否展示</p>
                                    </div>
                                    <div class="form-group">
                                        <label>权重</label>
                                        <input class="form-control" name="order" id="order" value="" placeholder="0">
                                        <p class="help-block">标签的权重</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="introduce_wrapper">
                                            <div class="circle"></div>
                                            <label>描述</label>
                                            <textarea name="description" id="description" class="form-control" rows="8"
                                                      autofocus="autofocus"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__JS__/jquery-1.11.0.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    $("button").click(function () {
        $.ajax({
            url: "__API__/blog/create_blog_tag",
            type: "post",
            dataType: "json",
            data: {
                type:         $("#type").val(),
                decription:   $("#decription").val(),
                is_show:      $("#is_show option:selected").val(),
                order:        $("#order").val()
            },
            success: function (data) {
                if (data.status == 0) {
                    window.location.href = "__PANEL__/blog/blog_tag";
                    alert(data.message);
                }
                else if (data.status == -1) {
                    alert(data.message);
                }
            }
        });
    });
</script>
</body>
</html>