<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Test</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <label>Nick: </label>
    <input id="nick" type="text">
    <br>
    <label>Password: </label>
    <input id="password" type="text">
    <br>
    <button onclick="login()">Submit</button>
<script>
    window.on = function() {

    };

    function login() {
        var nick = $('#nick').val();
        var password = $('#password').val();
        // alert(password);
        $.ajax({
            url: "http://localhost:8888/OnlineJudge/public/oj/Login/do_login",
            method: 'post',
            data: {
                'nick': nick,
                'password': password
            },
            success: function(data) {
                if(data.status === 0) {
                    alert('登陆成功');
                }else{
                    alert(data.message);
                }
            }
        });
    }
</script>
</body>
</html>