<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap Styles-->
<link href="../../../public/static/assets/css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../../../public/static/assets/css/font-awesome.css" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link href="../../../public/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../../../public/static/assets/css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../../public/static/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../../../public/static/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="../../../public/static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../../../public/static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="../../../public/static/assets/js/morris/morris.js"></script>


<script src="../../../public/static/assets/js/easypiechart.js"></script>
<script src="../../../public/static/assets/js/easypiechart-data.js"></script>

<script src="../../../public/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="../../../public/static/assets/js/custom-scripts.js"></script>