<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap Styles-->
<link href="__CSS__/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="__CSS__/font-awesome.css" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link href="__JS__/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="__CSS__/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="__JS__/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="__JS__/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="__JS__/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__JS__/morris/raphael-2.1.0.min.js"></script>
<script src="__JS__/morris/morris.js"></script>


<script src="__JS__/easypiechart.js"></script>
<script src="__JS__/easypiechart-data.js"></script>

<script src="__JS__/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="__JS__/custom-scripts.js"></script>