<!DOCTYPE html>
<html lang="en">

<head>
    <title>控制台 - 提交详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/jquery-1.11.0.js"></script>
    <!-- 样式文件 -->
    <link rel="stylesheet" href="__UM__/themes/default/css/umeditor.css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'} {include file='layout/sidebar'}
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">提交详情</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 基本设置 </div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <!--http://ziqiangshe.applinzi.com/tp5/public/index.php/panel/blog/editblog-->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>提交编号: </label>
                                        <label id="id"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>用户id: </label>
                                        <label id="user_id"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>用户昵称: </label>
                                        <label id="nick"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>题目编号: </label>
                                        <label id="problem_id"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>语言: </label>
                                        <label id="language"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>状态: </label>
                                        <label id="status"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>用时: </label>
                                        <label id="time"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>内存: </label>
                                        <label id="memory"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>源代码: </label>
                                        <textarea name="code" id="code"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default" onclick="btn()">重测</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    function format(data)
    {
        var temp = data.split('[')[1].split(']')[0].split(',');
        console.log(temp);
        var string = "";
        temp.forEach(function (element) {
            string += element.split('"')[1] + ',';
        });
        return string.substring(0, string.length - 1);
    }
    $(document).ready(function () {
        console.log(Array().push({$id}));
        $.ajax({
            url: "__PANEL__/submit/getTheSubmit",
            type: "post",
            dataType: "json",
            data: {
                id:      "{$id}",
            },
            success: function (data) {
                if (data.status == 0) {
                    $("#id").html(data.data.id);
                    $("#user_id").html(data.data.user_id);
                    $("#nick").html(data.data.nick);
                    $("#problem_id").html(data.data.problem_id);
                    $("#language").html(data.data.language);
                    $("#status").html(data.data.status);
                    $("#time").html(data.data.time);
                    $("#memory").html(data.data.memory);
                    $("#code").val(data.data.source_code);
                } else if (data.status == -1) {

                }
            },
        });
    });
    function btn()
    {
        $.ajax({
            url: "__PANEL__/submit/reJudge",
            type: "post",
            dataType: "json",
            data: {
                id: Array().push({$id}),
            },
            success: function (data) {
                if (data.status == 0) {
                    alert(data.message);
                    window.location.href = "__PANEL__/submit/index";
                } else if (data.status == -1) {
                    alert(data.message);
                }
            },
        });
    }
</script>
</body>
</html>