<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <link href="https://cdn.bootcss.com/layer/3.1.0/theme/default/layer.css" rel="stylesheet">
<!--</head>-->
<!--<body>-->
<!--
* $msg 待提示的消息
* $url 待跳转的链接
* $time 弹出维持时间（单位秒）
* icon 这里主要有两个layer的表情，5和6，代表（哭和笑）
-->
<script type="text/javascript">
    (function(){
        var msg = '<?php echo(strip_tags($msg));?>';
        var iurl = '<?php echo($url);?>';
        var wait = '<?php echo($wait);?>';
    <?php
        switch ($code) {
            case 1:
                    ?>
                layer.msg(msg,{icon:"6",time:wait*1000});
            <?php
                break;
            case 0:
                    ?>
                layer.msg(msg,{icon:"5",time:wait*1000});
            <?php
                break;
        }
            ?>
        setTimeout(function(){
            location.href=iurl;
        },1000)
    })();
</script>
<!--</body>-->
<!--</html>-->