<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model</title>
    {include file='panel/part/head'}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>ACM@WUT</strong></a>
        </div>
    </nav>

    <div id="page-wrapper">
        <div id="page-inner">
            <!--title-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Login <small>Admin sign up</small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <form action="{:url('index/Login/adminlogin')}" method="post">
                        <label for="userId-in">User Name</label>
                        <input id="userId-in" name="account" type="text" class="form-control" required>
                        <label for="passwd-in">Password</label>
                        <input id="passwd-in" name="password" type="password" class="form-control" required>
                        <br>
                        <input type="submit" value="Login" class="btn btn-default">
                    </form>
                </div>
            </div>

            {include file='panel/part/footer'}
        </div>
    </div>
</div>
</body>
</html>