<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    {include file='panel/part/head'}
</head>
<body>
<div id="wrapper">
    {include file='panel/part/nav'}
    <div id="page-wrapper">
        <div id="page-inner">

            <!--title-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        User <small>User console</small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add new user
                        </div>
                        <div class="panel-body">
                            <!--TODO add action-->
                            <form method="post" action="">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="name-in">Name</label>
                                        <input id="name-in" type="text" name="name" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="nickname-in">Nick Name</label>
                                        <input id="nickname-in" type="text" name="nickname" class="form-control" required>
                                    </div>
                                </div>
                                <label for="email-in">e-Mail</label>
                                <input id="email-in" type="text" name="email" class="form-control">
                                <label for="phone-in">Phone</label>
                                <input id="phone-in" type="text" name="phone" class="form-control">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="gender-in">Gender</label>
                                        <select id="gender-in" class="form-control" name="gender">
                                            <option value="1">男</option>
                                            <option value="0">女</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="status-in">Status</label>
                                        <select id="status-in" class="form-control" name="status">
                                            <option value="1">现役</option>
                                            <option value="0">退役</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="type-in">Type</label>
                                        <select id="type-in" class="form-control" name="type">
                                            <option value="0">会员</option>
                                            <option value="1">正式成员</option>
                                            <option value="2">管理员</option>
                                            <option value="-1">黑名单</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Submit</label>
                                        <br>
                                        <input type="submit" value="Submit" class="btn btn-default">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Change userInfo
                        </div>
                        <div class="panel-body">
                            <!--TODO add action-->
                            <form method="post" action="">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="userid-in-c">User Id</label>
                                        <input id="userid-in-c" type="text" name="userId" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="status-in-c">Status</label>
                                        <select id="status-in-c" class="form-control" name="status">
                                            <option value="1">现役</option>
                                            <option value="0">退役</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="type-in-c">Type</label>
                                        <select id="type-in-c" class="form-control" name="type">
                                            <option value="0">会员</option>
                                            <option value="1">正式成员</option>
                                            <option value="2">管理员</option>
                                            <option value="-1">黑名单</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                    </div>
                                </div>
                                <br>
                                <input type="submit" value="Submit" class="btn btn-default">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row">
                                        <!--<div class="col-sm-6">-->
                                        <!--<div class="dataTables_length" id="dataTables-example_length">-->
                                        <!--<label>-->
                                        <!--<select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">-->
                                        <!--<option value="10">10</option>-->
                                        <!--<option value="25">25</option>-->
                                        <!--<option value="50">50</option>-->
                                        <!--<option value="100">100</option>-->
                                        <!--</select> records per page</label>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<div id="dataTables-example_filter" class="dataTables_filter">-->
                                        <!--<label>Search:-->
                                        <!--<input type="search" class="form-control input-sm" aria-controls="dataTables-example">-->
                                        <!--</label>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" style="width: 32px;">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;">Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 100px;">Nickname</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;">Gender</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;">Type</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;">Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 100px;">eMail</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;">Phone</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="v" key="k"}
                                                {if $k % 2 == 0}
                                                    <tr class="gradeA odd">
                                                {else /}
                                                    <tr class="gradeA even">
                                                {/if}
                                                <td class="sorting_1">{$v.userId}</td>
                                                <td class=" ">{$v.userName}</td>
                                                <td class=" ">{$v.userNick}</td>
                                                <td class=" ">{$v.userGender}</td>
                                                <td class="center ">{$v.userType}</td>
                                                <td class="center ">{$v.userStat}</td>
                                                <td class="center ">{$v.userMail}</td>
                                                <td class="center ">{$v.userPhone}</td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <!--<div class="col-sm-6">-->
                                        <!--<div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 10 of 57 entries</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-6">-->
                                        <!--<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">-->
                                        <!--<ul class="pagination">-->
                                        <!--<li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">-->
                                        <!--<a href="#">Previous</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">1</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">2</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">3</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">4</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">5</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button " aria-controls="dataTables-example" tabindex="0">-->
                                        <!--<a href="#">6</a>-->
                                        <!--</li>-->
                                        <!--<li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">-->
                                        <!--<a href="#">Next</a>-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            {include file='panel/part/footer'}
        </div>
    </div>
</div>
</body>
</html>