<!DOCTYPE html>
<html lang="en">

<head>
    <title>控制台 - 比赛内容 - 编辑比赛</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/jquery-1.11.0.js"></script>
    <!-- 样式文件 -->
    <link rel="stylesheet" href="__UM__/themes/default/css/umeditor.css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'} {include file='layout/sidebar'}
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">编辑比赛</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 基本设置 </div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <!--http://ziqiangshe.applinzi.com/tp5/public/index.php/panel/blog/editblog-->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="contest_id" id="contest_id" value="{$id}" type="hidden">
                                    </div>
                                    <div class="form-group">
                                        <label>标题</label>
                                        <input name="title" id="title" value="" class="form-control">
                                        <p class="help-block">请输入比赛的标题。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间</label>
                                        <input type="datetime" id="begin_time" class="form-control" placeholder="2000/01/01 00:00:00 或者 2000-01-01 00:00:00" value=""/>
                                        <p class="help-block">请输入开始时间。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间</label>
                                        <input type="datetime" id="end_time" class="form-control" placeholder="2000/01/01 00:00:00 或者 2000-01-01 00:00:00" value=""/>
                                        <p class="help-block">请输入结束时间。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>封榜时间</label>
                                        <input name="frozen" id="frozen" value="" class="form-control">
                                        <p class="help-block">请输入封榜时间（0.2）。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>题目集</label>
                                        <input name="problems" id="problems" value="" class="form-control">
                                        <p class="help-block">请输入题目集（1001,1002）用英文逗号分割。</p>
                                    </div>
                                    <div class="form-group">
                                        <label>题号颜色</label>
                                        <input name="colors" id="colors" value="" class="form-control">
                                        <p class="help-block">请输入题目对应的气球颜色（可为空；#FFFFFF, #FFFFF0）用英文逗号分割。</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default" onclick="btn()">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    function format(data)
    {
        var temp = data.split('[')[1].split(']')[0].split(',');
        console.log(temp);
        var string = "";
        temp.forEach(function (element) {
            string += element.split('"')[1] + ',';
        });
        return string.substring(0, string.length - 1);
    }
    $(document).ready(function () {
        $.ajax({
            url: "__PANEL__/contest/getTheContest",
            type: "post",
            dataType: "json",
            data: {
                contest_id:      "{$id}",
            },
            success: function (data) {
                if (data.status == 0) {
                    $("#title").val(data.data.contest_name);
                    $("#begin_time").val(data.data.begin_time);
                    $("#end_time").val(data.data.end_time);
                    $("#frozen").val(data.data.frozen);
                    $("#problems").val(format(data.data.problems));
                    $("#colors").val(format(data.data.colors));

                } else if (data.status == -1) {

                }
            },
        });
    });
    function btn()
    {
        $.ajax({
            url: "__PANEL__/contest/editContest",
            type: "post",
            dataType: "json",
            data: {
                contest_id:      $("#contest_id").val(),
                contest_name:   $("#title").val(),
                begin_time:     $("#begin_time").val(),
                end_time:     $("#end_time").val(),
                frozen: $("#frozen").val(),
                problems: $("#problems").val().split(','),
                colors: $("#colors").val().split(','),
            },
            success: function (data) {
                if (data.status == 0) {
                    alert(data.message);
                    window.location.href = "__PANEL__/contest/index";
                } else if (data.status == -1) {
                    alert(data.message);
                }
            },
        });
    }
</script>
</body>
</html>